@font-face {
	/*font-family:'Stampbor Grunge Russian';
	src:url(../font/StampborGrungeRussian.otf);*/

	font-family: 'codeprobold';
	src: url('../font/CodeProBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'docker';
	src: url('../font/docker.three.ttf');
}