.navigation .contact a {
	top: 15%;
	left: 35px;
	font-size: 55px;
	border-bottom: groove 18px #c58a50;
}

.navigation .stranica a {
	top: -5%;
	left: -50px;
	font-size: 135px;
	color: #c58a50;
	border-bottom: groove 18px #c58a50;
}

.navigation .price a {
	top: -11%;
	left: 390px;
	font-size: 135px;
	border-top: solid 12px #324c4e;
	border-bottom: groove 18px #c58a50;
}

.navigation .bestw a {
	top: 30px;
	left: 391px;
	font-size: 65px;
	padding-bottom: 40px;
	border-bottom: solid 12px #324c4e;
}

.navigation .about a {
	top: -300px;
	left: 335px;
	font-size: 70px;
	padding-bottom: 40px;
	border-bottom: solid 12px #324c4e;
}

.navigation .vk a {
	top: 12%;
	left: 380px;
}

.navigation .inst a {
	top: -215px;
	left: 511px;