@import url(location.css);
@import url(font.css);


html, body {
	background-color: #e3d6a8;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	font-family: 'codeprobold';
}

.page-index {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.navigation {
	position: absolute;
    top: -100%;
    bottom: -100%;
    left: 38%;
    margin: 100px 0 0 -200px;
    max-width: none;
    width: 1200px;
	transform: rotate(50deg);
}

.navigation ul {
	position: absolute !important;
	top: 50%;
	width: 1200px;
	height: 1080px;
	font-size: 72px;
	list-style-type: none;
}

.navigation li a {
	text-transform: uppercase;
	position: absolute;
	text-decoration: none;
	color: #324c4e;
	line-height: 0.8em;
	/*text-shadow: 0 1px 1px #000;*/
	/*box-shadow: 0 0 10px #000000;*/
	padding-bottom: 5px;
	text-shadow:0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

.navigation li a:hover {
	color: #ffffff;
}

.navigation ul li {
	display: list-item;
}

.navigation li a img {
	width: 70px;
	fill: #324c4e;
}

.navigarion, .contact a, .stranica a, .about a, .vk a, .inst a {
	position: absolute;
	transform: rotate(-90deg);
}

/*------------------ E N G L I S H*/
p {
	margin: 0 0 -50px 104px;
    padding: 0;
    font-size: 34px;
    color: #c58a50;
    text-shadow: none;
    font-family: 'docker';
}

.au, .bw {
	margin-left: 0px;
	font-size: 40px;
}

.bw {
	font-size: 41px;
}

.pr {
	position: relative;
    top: -294px;
    left: 53%;
    margin: -53px;
    padding: 0;
    transform: rotate(-90deg);
    font-size: 25px;
}
/*--------------- L I N E*/

.line {
	display: inline-block;
	height: 2px;
	width: 100%;
	background: #D8B58A;
    margin: 30px 0;


